@font-face {
    font-family: 'Flix Normal';
    src: url('Flix-Normal.eot');
    src: local('Flix Normal'), local('Flix-Normal'),
        url('Flix-Normal.eot?#iefix') format('embedded-opentype'),
        url('Flix-Normal.woff2') format('woff2'),
        url('Flix-Normal.woff') format('woff'),
        url('Flix-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flix Outline';
    src: url('Flix-Outline.eot');
    src: local('Flix Outline'), local('Flix-Outline'),
        url('Flix-Outline.eot?#iefix') format('embedded-opentype'),
        url('Flix-Outline.woff2') format('woff2'),
        url('Flix-Outline.woff') format('woff'),
        url('Flix-Outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

